.text-image {
  width: 100%;
  display: flex;
}

.text-image p {
  flex: 1;
  text-align: justify;
  margin: 0em 1em;
}

.text-image .about-image {
  flex: 1;
  background-image: url(../displayImages/_MG_0122.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

main p {
  margin: 0.3em 0em;
}
