.image-scroller {
  height: 30rem;
  width: 100%;
  background: red;
  background-image: url(../displayImages/_MG_8432.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}
